<h2><font color="#e2e3e4">New Board</font></h2>

<form>
	<label for="board_title"><font color="#e2e3e4">Title</font></label>
		
	<input type="text" 
		name="board[title]"
		id="board_title">
		
	<input type="submit">
</form>

