<div class="board_index_show">
		<h4 class="boards__header">My Boards</h4>

		<ul class="boardsindex">
		  <% boards.each(function (board) { %>
	      <li class="board_index_title">
					<a class="board_index_title_link" href="#boards/<%= board.id %>">
	        	<%= board.escape('title') %>
					</a>
					
	      </li>
		  <% }); %>
		</ul>
		<div class="create_new_board">
			<a href="#boards/new">Create A New Board</a>
		</div>
</div>


