<div class="board_show">
	<div class="board_name">
		<i class="fa fa-trash-o pull-right trash-board-name" data-toggle="modal" 						data-target="#<%=modalID%>"></i>
		<h1 class="board__name__text"><%= board.escape('title') %></h1>
	</div>
			<div class="board__lists-area">
				<ul class="lists sortable ui-sortable" id='lists'>
					<span class="list--new__button">Add a list...</span>
				</ul>
		</div>
</div>


<div class="modal fade" id="<%=modalID%>" role="dialog" 			aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" 							aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= 						board.escape('title')%></h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this board and all of its contents?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" 						data-dismiss="modal">Cancel</button>
        <button type="button" class="deleteBoard btn btn-primary">Delete it all!</button>
      </div>
    </div>
  </div>
</div>

<div id="list--new" class="list--new">
	<span class="list--new__button">Add a list...</span>
</div>
