<div class="board_show">
	<div class="board_name">
		<h1 class="board__name__text"><%= board.escape('title') %></h1>
		
	</div>
	
	
		<div class="board__lists-area">
				<ul class="lists ui-sortable" id='lists'>
				</ul>
				<div id="list--new" class="list--new">
					<span class="list--new__button"><a href="#" class="newList">Add a list...</a></span></div>
		</div>

	
	
	
<button class="deleteBoard btn btn-sm btn-danger pull-right">Delete Board</button>	
</div>
