<div class="board-canvas" style="height: 538px;">
	<div id="board" class="clearfix">
		
		<h2><%= board.escape('title') %></h2>
		<button class="deleteBoard btn btn-sm btn-danger">Delete Board</button>

		<ul id='lists'>
		</ul> 
		
	<br>
		<a href="#" class="newList">Add a list</a>
</div>
</div>