<div class="board_show">
	<div class="board_name">
		<h1 class="board__name__text"><%= board.escape('title') %></h1>
		
	</div>
	
	
		<div class="board__lists-area">
				<ul class="lists ui-sortable" id='lists'>
				</ul>
			<a href="#" class="newList"><font color="#e2e3e4">Add a list...</font></a>
		
		</div>

	
	
	
	
</div>
<button class="deleteBoard btn btn-sm btn-danger pull-right">Delete Board</button>