<div class="container" align="center">
  <%= render "layouts/errors" %>
	<div class="fontsize">
		<h1><font color="#e2e3e4">Dodat</font></h1>
	</div>
  <h1><font color="#e2e3e4">Sign Up</font></h1>

  <form action="<%= users_url %>" method="POST">
    <%= auth_token_input %>
    <label>
      <font color="#428bca">Username</font><br>
      <input id="username" type="text" name="user[username]">
    </label>
    <br>
    <label>
      <font color="#428bca">Password</font><br>
      <input id="password" type="password" name="user[password]">
    </label>
    <br>
    <input type="submit" class="btn btn-primary" value="Sign Up">
    <a href="<%= new_session_url %>"><font color="#e2e3e4">Back to Login</font></a>
  </form>
</div>