/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

//.container {
//	
//}

body {
	background-color: #2b3e50;
}

ul {
	padding: 0;
	list-style-type: none;
}

.panel-body {
	padding: 4px;
	background-color: #2b3e50;;
}

.navbar {
	background: grey;
}


a.navbar-brand.header-title {
	color: #fff;
}

a.navbar-brand.header-title:hover {

}

.list-placement {
	width: 250px;
	float: left;
	background-color: #dbdbdb;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.card {
	float: left;
	background-color: #ffffff;
	border-bottom: 1px #2b3e50 solid;
	width: 240px;
	border-radius: 3px;
	margin: 3px 0;
	padding: 3px 5px;
//	background: ghostwhite;
	
}

.container {
	background-color: #2b3e50;;
}

#board {
	position: absolute;
	top: 10px;
	right: 0px;
	bottom: 12px;
	left: 0px;
}

.board-canvas {
	height: 538px;
	line-height: 18px;
	margin-right: 0px;
	padding-bottom: 12px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	position: relative;
	transition-duration: 0.1s;
	transition-property: margin;
	transition-timing-function: ease-in;
	width: 969px;
}

.boardbutton {
	
}

//#outercontainer {
//	position: relative;
//}
//
//#innercontainer {
//	position: absolute;
//	top: 50%;
//	height: 10em;
//	margin-top: -5em;
//}