
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><%= list.escape('title') %></h3>
	</div>
		<div class="panel-body">
			<ul id='cards'></ul>
		</div>
</div>
	
<button class="deleteList btn btn-sm btn-danger">Delete List</button>
<a href="#" class="addCard">Add a card</a>
