

<form>
	<label for="list_title">Title</label>
	
	<input type="hidden"
		name="list[board_id]"
		value="<%= board.id %>">
		
	<input type="text"
		name="list[title]"
		id="list_title">
		
	<input type="submit">
	
</form>