<!DOCTYPE html>
<html>
	<head>
	  <title>Dodat2</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application"%>
	  <%= csrf_meta_tags %>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body> 
		<div class="header" id="header">
			<div class="header__boards-menu">
				<i class="upside-down fa fa-bar-chart-o"></i>
				Boards
			</div>
			
			<div class="header__brand">
				<h4 class="header__brand__text">
					<a href="#">Dodat</a>
				</h4>
			</div>
			
		</div>

	<%= yield %>

	</body>
</html>
