<!DOCTYPE html>
<html>
	<head>
	  <title>Dodat2</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application"%>
	  <%= csrf_meta_tags %>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body> 
		<div class="header" id="header">
			<% if logged_in? %>
			<div class="header__boards-menu">
				<i class="upside-down fa fa-bar-chart-o"></i>
					<a class="header_board_text" href="#">Boards</a>
			</div>
			<% end %>
			
			<div class="header__brand">
				<h4 class="header__brand__text">
					<a href="#">Dodat</a>
				</h4>
			</div>
			
			<% if logged_in? %>
			<div class="header__section__right">
				<div class="header_add_board">
					<i class="fa fa-cog"></i>
				</div>
				<div class="header_section_right_account_menu">
					<span class="header_guest_name">
						Socrates
					</span>
					<img class="account_avatar" src="http://www.gravatar.com/avatar/fbbd6b5524c2e0ee1bb0719a626d8330?s=64">
				</div>
				</div>
				<% end %>
		</div>
	<%= yield %>
	</body>
</html>
